body {
  text-align: center;
  background-color: #071C21;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Space-Mono", monospace;
  text-shadow: 3px 0 #C6DE41;

}

footer {
  color: #C6DE41;
  font-family: 'Space-Mono', monospace;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #C6DE41;
  font-size: 5rem;
  font-family: 'Space-Mono', monospace;
  line-height: 2;
  font-weight: 900;
  color: black;
  text-shadow: 3px 0 #071C21;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

a{
  color: #C6DE41;
}

a:hover{
  color: white;
}